.tbl {
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.tbl th {
    border-bottom:1px solid black;
}

.tbl td, th {
    padding: 20px;
}
.tbl tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tbl tr:nth-child(odd) {
    background-color: #ffffff;
}